.title {
    font-weight: bold;
    font-size: 17px;
    margin-right: 10px;
}

.code {
    font-size: 17px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}