.file-comp {
    width: 40vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.red {
    color: red!important;
}

.comp {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
}

.empty {}

.delete {
    margin-top: 0.75em;
    background-color: red;
    color: var(--text_color);
}

.field {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.form {
    width: 100%;
}

.change {
    margin-left: 15px;
    width: 100px;
}