.file-comp {
    width: 45vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.list {
    width: 100%;
}

.up-butt {
    margin-top: 30px;
    margin-bottom: 30px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}